@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  @apply min-h-screen m-0 bg-blue-50 dark:bg-gray-800 font-body;
}

p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply m-0 text-gray-800 dark:text-blue-50 tracking-wide;
}

h1,
h2,
h3 {
  @apply font-heading font-bold;
}

h1,
h2 {
  @apply uppercase;
}

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-lg;
}

p,
span {
  @apply text-base;
}

a,
button {
  @apply transition-colors duration-300 ease-in-out text-red-800 dark:text-blue-200;
}

a:hover,
button:hover {
  @apply text-red-900 dark:text-blue-300;
}

a {
  @apply no-underline;
}

button {
  @apply font-body px-4 py-2 bg-blue-50 dark:bg-gray-800 border-none cursor-pointer;
}

li {
  @apply list-none;
}

.scale-transition {
  @apply transition-transform duration-300 ease-in-out transform hover:scale-125;
}
